.todoList {
  width: 100%;
  margin-top: 56px;

  h1 {
    font-size: 36px;
    letter-spacing: -0.05em;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    color: #A6A6A6;
    text-align: center;
    margin: 24px 0;
  }

  &[data-theme="dark"] {
    h1 {
      color: #fff;
    }
  }
}

.tasks {
  width: 100%;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.1), 0px 24px 38px rgba(0, 0, 0, 0.04), 0px 9px 46px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 24px;

  &[data-theme="dark"] {
    background: #343434;
  }
}
